<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            {{ form_start(form) }}
            {{ form_row(form.name,{'label':'نام بانک'}) }}
            {{ form_row(form.shomarehesab,{'label':'شماره حساب'}) }}
            {{ form_row(form.shomarecart,{'label':'شماره کارت'}) }}
            {{ form_row(form.shaba,{'label':'شماره شبا'}) }}
            {{ form_row(form.shobe,{'label':'شعبه'}) }}
            {{ form_row(form.des,{'label':'توضیحات'}) }}
            {{ form_widget(form.submit) }}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>

