{% extends 'base.html.twig' %}

{% block title %}فراموشی کلمه عبور{% endblock %}

{% block body %}
    <div class="container px-md-5">
        <div class="container px-md-5 my-3 bg-white">
            <div class="row align-items-center justify-content-center rounded-5">
                <div class="col-lg-8 col-sm-12 py-3 border shadow-lg">
                    <p class="mb-4">
                        <i class="bi bi-lock me-2"></i>
                        {{ block('title') }}
                    </p>
                    {% if send == true %}
                        <div class="alert alert-success">ایمیل بازیابی کلمه عبور ارسال شد.در صورت دریافت نکردن ایمیل پوشه اسپم را چک کنید.</div>
                    {% endif %}
                    {{ form_start(form,{'attr':{'class':'ajax-off'}}) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.captcha, {
                        label: 'تشخیص روبات از انسان'
                    }) }}
                    {{ form_widget(form.submit) }}
                    <a class="btn btn-success" href="{{ path('login') }}">ورود به حسابیکس</a>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}