<script>
    $(function() {
        'use strict';

        if($('.tarikh').length) {
            // tarikh
            $(".tarikh").persianDatepicker({
                format: "YYYY/MM/DD",
                autoclose: true
            });
        }
    });
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            {{ form_start(form) }}
            {{ form_row(form.dateSave) }}
            {{ form_row(form.bank) }}
            {{ form_row(form.hesabdariTable) }}
            {{ form_row(form.amount) }}
            {{ form_row(form.des) }}
            {{ form_widget(form.submit) }}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>

