<script>
    $(function() {
        'use strict';

        if($('.tarikh').length) {
            // tarikh
            $(".tarikh").persianDatepicker({
                format: "YYYY/MM/DD",
                autoclose: true
            });
        }
    });

    $(function() {
        'use strict'
        $(".person-select").select2();
        $(".other-select").select2();
    });

    $(document).ready(function(){

    });
    function save(){
        alert()
    }
</script>
{{ form_start(form) }}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-3 mt-2">
            {{ form_row(form.dateSave,{'label':'تاریخ'}) }}
        </div>
        <div class="col-sm-12 col-md-9 mt-2">
            {{ form_row(form.des,{'label':'شرح'}) }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            {{ form_row(form.person,{'attr':{'class':'person-select'}}) }}
        </div>
        <div class="col-sm-12 col-md-6">
            {{ form_row(form.amount) }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            {{ form_row(form.type) }}
        </div>
        <div class="col-sm-12 col-md-6">
            {{ form_row(form.data,{'attr':{'class':'other-select'}}) }}
        </div>
    </div>
    <br>
        {{ form_widget(form.submit) }}
    {{ form_end(form) }}
</div>