<div class="container-fluid mb-5 mx-0 px-0">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            {{ form_row(form.title) }}
        </div>
        <div class="col-sm-12 col-md-4">
            {{ form_start(form) }}
            {{ form_row(form.dateBuy,{'attr':{}}) }}
        </div>
        <div class="col-sm-12 col-md-4">
            {{ form_row(form.supplier) }}
        </div>
        <div class="col-sm-12 col-md-4">
            {{ form_start(form) }}
            {{ form_row(form.tax) }}
        </div>
        {{ form_end(form) }}

        <div class="rounded border border-primary my-2">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ردیف</th>
                        <th scope="col">کالا</th>
                        <th scope="col">شرح</th>
                        <th scope="col">واحد</th>
                        <th scope="col">تعداد</th>
                        <th scope="col">مبلغ واحد</th>
                        <th scope="col">تخفیف</th>
                        <th scope="col">مبلغ کل</th>
                        <th scope="col">بیشتر</th>
                    </tr>
                    </thead>
                    <tbody class="tbody">
                    </tbody>
                </table>
            </div>
        </div>
        <button type="button" class="btn btn-sm btn-primary" onclick="addRow()">ردیف جدید</button>

    </div>
</div>

<script>
    function reloadData(){
        $('.tbody > tr').each(function (index) {
            $(this).find('th.index').html(index + 1);
        });
        //calculate balance
        var bd = 0;
        var bs = 0;
        $('.tbody > tr').each(function (index) {
            bs +=  parseInt($(this).find('td.bs input').val());
            bd +=  parseInt($(this).find('td.bd input').val());
        });
        $('.bs-label').html(bs);
        $('.bd-label').html(bd);
        $('.bt-label').html(bd - bs);
    }
    function addRow(){
        $.ajax({
            type: "POST",
            url: Routing.generate('app_hboy_get_new_row'),
            success: function(data)
            {
                $('.tbody').append(data.view.content);
                reloadData();
            }
        });
    }
    function removeRow(id){
        $('#table-row-' + id).remove();
        reloadData();
    }

    function insertDocument(){
        var count = $('.tbody tr').length;
        if(count == 0){
            swal.fire('سند فاقد ردیف است.لطفا قبل از ثبت نسبت به افزودن ردیف‌ها اقدام نمایید.');vdk
            return false;
        }
        var documentRowsjson = {};
        $('.tbody > tr').each(function (index,element) {
            let rowData = {};
            rowData['code'] = $(element).find(" td.code select :selected").val();
            let tempTagType = $(element).find(" td.type :first-child")[0].tagName;
            if(tempTagType == 'INPUT'){
                rowData['type'] = $(element).find(" td.type :first-child").val();
            }
            else if (tempTagType == 'SELECT'){
                rowData['type'] = $(element).find(" td.type :first-child :selected").val();
            }
            rowData['des'] = $(element).find(" td.des :first-child").val();
            rowData['bs'] = $(element).find(" td.bs :first-child").val();
            rowData['bd'] = $(element).find(" td.bd :first-child").val();
            documentRowsjson[index] = rowData;
        });
        $.ajax({
            type: "POST",
            url: Routing.generate('app_hesabdari_document_insert',{'data':JSON.stringify(documentRowsjson)}),
            success: function (data) {
                alert(data.view);
            }
        });
    }

    $(function() {
        'use strict';

        if($('.tarikh').length) {
            // tarikh
            $(".tarikh").persianDatepicker({
                format: "YYYY/MM/DD",
                autoclose: true
            });
        }
    });
</script>