<style>
    thead{
        background-color:#324a93;
    }
    thead tr th{
        color:white !important;
    }
    tr td,tr th,thead{
        border: 1px solid gray;
    }
    tr td *{
        border-radius: 0 !important;
        text-align: center;

    }
    tr td select{
        min-height: 40px;

    }
    tr td.unit input{
        max-width: 120px;
    }
    tbody.tbody tr td.num input{
        max-width: 120px;
    }
</style>
<div class="container-fluid mb-5 mx-0 px-0">
    {{ form_start(form) }}
    <div class="row">
        <div class="title col-sm-12 col-md-6">
            {{ form_row(form.title) }}
        </div>
        <div class="des col-sm-12 col-md-6">
            {{ form_row(form.des) }}
        </div>
        <div class="date col-sm-12 col-md-4">
            {{ form_row(form.dateBuy,{'attr':{}}) }}
        </div>
        <div class="col-sm-12 col-md-4">
            {{ form_row(form.supplier) }}
        </div>
        <div class="tax col-sm-12 col-md-4">
            {{ form_row(form.tax) }}
        </div>
        {{ form_end(form) }}
        <br>
        <h3 class="mt-3">اقلام فاکتور</h3>
        <div class="my-2 pb-3 px-0">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"  style="max-width: 2rem">#</th>
                        <th scope="col">کالا</th>
                        <th scope="col">شرح</th>
                        <th scope="col">واحد</th>
                        <th scope="col">تعداد</th>
                        <th scope="col">مبلغ واحد</th>
                        <th scope="col">تخفیف</th>
                        <th scope="col">مبلغ کل</th>
                        <th scope="col">بیشتر</th>
                    </tr>
                    </thead>
                    <tbody class="tbody">
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <h3 class="float-end">
                جمع کل:
                <span class="total-buy-price text-danger">0</span>
            </h3>
            <button type="button" class="btn btn-sm btn-primary" onclick="addRow()">
                <i class="bi bi-plus"></i>
                ردیف جدید</button>
            <button type="button" class="btn btn-sm btn-success" onclick="save()">
                <i class="bi bi-save2"></i>
                ثبت خرید
            </button>
        </div>


    </div>
</div>

<script>

    function save(){

        if($('.tax div input').val().length  == 0 || $('.title div input').val().length  == 0 || $('.des div input').val().length  == 0 || $('.date div input').val().length  == 0){
            swal.fire('تمام موارد الزامی را تکمیل کنید!');
        }
        else{
            //check table has row
            if($('.tbody').children().length == 0){
                swal.fire('حداقل یک آیتم را به فاکتور اضافه کنید.');
            }
            else {
                var dtable = [];
                $('.tbody').children().each(function () {
                    var tempData = {
                        'item' : $(this).find('td.commodity select :selected').val(),
                        'des' : $(this).find('td.des input').val(),
                        'num' : $(this).find('td.num input').val(),
                        'price' : $(this).find('td.price input').val(),
                        'off' : $(this).find('td.off input').val(),
                    }
                    dtable.push(tempData);
                });
                $('input#hbuy_items').val(JSON.stringify(dtable));
                $('form[name="hbuy"]').submit();
            }
        }


    }
    function addPayRow(){
        $.ajax({
            type: "POST",
            url: Routing.generate('app_hboy_get_new_pay'),
            success: function(data)
            {
                $('.tbodypay').append(data.view.content);
                reloadTable();
            }
        });
    }
    function reloadBuyTable(id){
        let res = ($('tr#table-row-' + id + ' td.price input').val() * $('tr#table-row-' + id + ' td.num input').val()) - $('tr#table-row-' + id + ' td.off input').val()
        $('tr#table-row-' + id + ' td.price-total input').val(res.toLocaleString());
        reloadBuyTableSum();
    }

    function reloadBuyTableSum(){
        let sum = 0;
        $('.tbody tr').each(function (index) {
           sum += parseInt($(this).find('td.price-total input').val().replace(',',''));
        });
        $('.total-buy-price').html(sum.toLocaleString());
    }
    function setCommodityDate(cid,eid){
        $.ajax({
            type: "POST",
            url: Routing.generate('api_commodity_get',{'id':cid}),
            success: function(data)
            {
                $('tr#table-row-' + eid + ' td.unit input').val(data.unit)
                $('tr#table-row-' + eid + ' td.des input').val(data.des)
                $('tr#table-row-' + eid + ' td.price input').val(data.price_sell)
                $('tr#table-row-' + eid + ' td.price-total input').val(data.price_sell.toLocaleString())
                reloadBuyTable(eid);
            }
        });
    }
    function reloadTable(){
        $('.tbody > tr').each(function (index) {
            $(this).find('th.index span').html(index + 1);
        });
        reloadBuyTableSum();
    }
    function addRow(){
        $.ajax({
            type: "POST",
            url: Routing.generate('app_hboy_get_new_row'),
            success: function(data)
            {
                $('.tbody').append(data.view.content);
                reloadTable();
            }
        });
    }
    function removeRow(id){
        $('#table-row-' + id).remove();
        reloadTable();
    }

    function insertDocument(){
        var count = $('.tbody tr').length;
        if(count == 0){
            swal.fire('سند فاقد ردیف است.لطفا قبل از ثبت نسبت به افزودن ردیف‌ها اقدام نمایید.');vdk
            return false;
        }
        var documentRowsjson = {};
        $('.tbody > tr').each(function (index,element) {
            let rowData = {};
            rowData['code'] = $(element).find(" td.code select :selected").val();
            let tempTagType = $(element).find(" td.type :first-child")[0].tagName;
            if(tempTagType == 'INPUT'){
                rowData['type'] = $(element).find(" td.type :first-child").val();
            }
            else if (tempTagType == 'SELECT'){
                rowData['type'] = $(element).find(" td.type :first-child :selected").val();
            }
            rowData['des'] = $(element).find(" td.des :first-child").val();
            rowData['bs'] = $(element).find(" td.bs :first-child").val();
            rowData['bd'] = $(element).find(" td.bd :first-child").val();
            documentRowsjson[index] = rowData;
        });
        $.ajax({
            type: "POST",
            url: Routing.generate('app_hesabdari_document_insert',{'data':JSON.stringify(documentRowsjson)}),
            success: function (data) {
                alert(data.view);
            }
        });
    }

    $(function() {
        'use strict';

        if($('.tarikh').length) {
            // tarikh
            $(".tarikh").persianDatepicker({
                format: "YYYY/MM/DD",
                autoclose: true
            });
        }
    });
</script>