<table id="dataTable" class="table dtd text-center">
    <thead>
    <tr>
        <th># ردیف</th>
        <th>تاریخ</th>
        <th>بدهکار</th>
        <th>بستانکار</th>
        <th>تشخیص</th>
        <th>تراز</th>
        <th>شرح</th>
    </tr>
    </thead>
    <tbody class="table-data">
    {% set balance = 0 %}
    {% for data in datas %}
        <tr class="{{ data.id }}">
            <td>{{ loop.index }}</td>
            <td>{{ data.file.date }}</td>
            <td>{{ data.bd | number_format}}</td>
            <td>{{ data.bs | number_format}}</td>
            {% if data.bd != 0 %}
                {%  set balance = balance - data.bd %}
                <td>بد</td>
            {% else %}
                {% set balance = balance + data.bs %}
                <td>بس</td>
            {% endif %}
            <td style="direction: ltr;">{{ balance | number_format }}</td>
            <td>{{ data.des }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class=" border border-danger rounded-5 p-2 mt-2">
    <p class="" style="font-size: 18px">
        تراز:
        <span class="text-secondary">{{ balance | abs | number_format }}</span>
        {% if balance < 0 %}
            بدهکار
        {% else %}
            بستانکار
        {% endif %}

    </p>
</div>