<script>
    var active = {{ active }};

    $(function() {
        'use strict'

        if ($(".js-example-basic-single").length) {
            $(".js-example-basic-single").select2();
        }
    });
    function loadUserTransactions(id){
        active = id;
        $.ajax({
            type: "POST",
            url: Routing.generate('app_person_transactions',{'type':'load','id':id}),
            success: function(data)
            {
               $('.table-data').html(data.view.content)
            }
        });
    }

    function printCard(){
        window.open(Routing.generate('app_person_transactions_print',{'id':active}), '_blank').focus();
    }
</script>
<div class="container-fluid mx-0 px-0">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <label>انتخاب شخص جهت مشاهده کارت حساب:</label>
            <select class="form-select form-select-sm mb-3 js-example-basic-single" style="height: 12rem;!important;" onchange="loadUserTransactions(this.value)">
                {% for person in persons %}
                    <option value="{{ person.id }}">{{ person.nikename }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header text-light bg-primary">
            کارت حساب
        </div>
        <div class="card-body">
            <div class="table">
                <table id="dataTable" class="table dtd text-center">
                    <thead>
                    <tr>
                        <th># ردیف</th>
                        <th>تاریخ</th>
                        <th>بدهکار</th>
                        <th>بستانکار</th>
                        <th>شرح</th>
                    </tr>
                    </thead>
                    <tbody class="table-data">
                    {% for data in datas %}
                        <tr class="{{ data.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ data.file.date }}</td>
                            <td>{{ data.bd | number_format}}</td>
                            <td>{{ data.bs | number_format}}</td>
                            <td>{{ data.des }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button onclick="printCard()" class="btn btn-success"><i class="bi bi-printer"></i> چاپ </button>
            </div>
        </div>
    </div>
</div>