<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            {{ form_start(form) }}
            {{ form_row(form.name,{'label':'نام انبار'}) }}
            {{ form_row(form.adr,{'label':'آدرس انبار'}) }}
            {{ form_row(form.tel,{'label':'تلفن'}) }}
            {{ form_row(form.boos,{'label':'انباردار'}) }}
            {{ form_widget(form.submit) }}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>

