<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            {{ form_start(form) }}
            {{ form_row(form.name,{'label':'نام کالا یا خدمت'}) }}
            {{ form_row(form.des,{'label':'توضیحات'}) }}
            {{ form_row(form.priceBuy,{'label':'قیمت خرید'}) }}
            {{ form_row(form.priceSell,{'label':'قیمت فروش'}) }}
            <div class="row">
                <div class="col">
                    {{ form_row(form.unit,{'label':'واحد شمارش'}) }}
                </div>
            </div>
            <div>
                {{ form_widget(form.submit) }}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
            </div>


            {{ form_end(form) }}
        </div>
    </div>
</div>

